* {
    font-family: 'Montserrat';
    
}
body{
    background-image: url('pics/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 412px) {
    body{
    background-image: url('pics/3.jpg');
    }
    .alert-box{
        width: 380px;
    }
 }

.overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        /* Styles for the alert box */
        .alert-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            z-index: 2;
        }

        /* Style for the close button */
        .close-btn {
            float: right;
            cursor: pointer;
        }

        @keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
 
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos img:hover{
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}


.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 60px;
}

    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
}
.alert-box{
    border-radius: 6px;
}
